#
# sample build.properties for ajp connector.
# edit to taste...
#
# $Id$
#

# Directory where catalina is installed
catalina.home=../../jakarta-tomcat-4.0/build

# Directory where tomcat3.3 is installed
tomcat33.home= ../../jakarta-tomcat/build/tomcat

#
# tomcat 4 internals
#
catalina.jar = ${catalina.home}/server/lib/catalina.jar

#
# servlet api 2.3
#
servlet.jar = ${catalina.home}/common/lib/servlet.jar

#
# utils.
#
tomcat-util.jar = ../util/build/lib/tomcat-util.jar

#
# junit jar
#
junit.jar=f:/dev/junit/junit.jar
