#
# sample build.properties for ajp connector.
# edit to taste...
#

# Directory where catalina is installed. It can 
# be either 4.0 or 4.1
tomcat40.home=../../jakarta-tomcat-4.0/build

# If you want to build/install on  both 4.0 
# and 4.1, set this to point to 4.0 and 'catalina.home'
# to point to 4.0
# ( most people need only the first, but developers should
# have both )
tomcat41.home=../../jakarta-tomcat-4.1/build

# Directory where tomcat3.3 is installed
tomcat33.home= ../../jakarta-tomcat/build/tomcat

# Location of Apache2, Apache1.3, Netscape, IIS
apache2.home=/opt/apache2
apache13.home=/opt/apache13
iplanet.home=/opt/iplanet6
# iplanet.home=d:/tools/sdk/netscape


# APR location - by default the version included in Apache2 is used.
# Don't edit unless you install 'standalone' apr.
apr.include=${apache2.home}/include
apr.lib=${apache2.home}/lib

# Compile-time options for native code
so.debug=true
so.optimize=false
so.profile=false

# Settings for building NetWare binaries.  Uncomment these and modify for your
# environment to build NetWare binaries.
#
# novellndk.dir=d:/tools/nwsdk
# build.compiler.base=d:/tools/mw/6.0
# build.compiler.cc=${build.compiler.base}/bin/mwccnlm
# build.compiler.ld=${build.compiler.base}/bin/mwldnlm

# Settings for building Windows binaries.  Uncomment these and modify for your
# environment to build Windows binaries.
#
# build.compiler.base=c:/Program Files/Microsoft Visual Studio/VC98
# build.compiler.cc=${build.compiler.base}/bin/cl
# build.compiler.ld=${build.compiler.base}/bin/link

